{% load static %}
<!doctype html>
<html lang="zxx" class="theme-light">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css'%}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
        <link rel="stylesheet" href="{% static 'css/slick.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/meanmenu.css'%}">
		<link rel="stylesheet" href="{% static 'css/odometer.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
        <link rel="stylesheet" href="{% static 'css/dark-style.css'%}">

        <title>Luvion - Online Banking & Payment Processing HTML Template</title>

        <link rel="icon" type="image/png" href="{% static 'img/favicon.png'%}">
    </head>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Error Area -->
		<section class="error-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="error-content">
                            <img src="{% static 'img/404.png'%}" alt="error">
        
                            <h3>Page Not Found</h3>
                            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        
{#                            <a href="login" class="btn btn-primary">Go to Home</a>#}
                            <a href="javascript:history.go(-1)" class="btn btn-primary">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- End Error Area -->

        <!-- Dark/Light Toggle -->
		<div class="dark-version">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Links of JS files -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'js/meanmenu.js'%}"></script>
        <script src="{% static 'js/nice-select.min.js'%}"></script>
        <script src="{% static 'js/slick.min.js'%}"></script>
        <script src="{% static 'js/magnific-popup.min.js'%}"></script>
		<script src="{% static 'js/appear.min.js'%}"></script>
        <script src="{% static 'js/odometer.min.js'%}"></script>
        <script src="{% static 'js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'js/parallax.min.js'%}"></script>
        <script src="{% static 'js/wow.min.js'%}"></script>
        <script src="{% static 'js/form-validator.min.js'%}"></script>
        <script src="{% static 'js/contact-form-script.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>